@using FamilyExpenseTracker.EntityFrameWork.Models
@model List<FamilyExpense>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <style type="text/css">
            table {
                margin: auto;
                align-content: center;
                text-align:center;
            }
            .styled-table {
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                font-family: sans-serif;
                min-width: 400px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }

                .styled-table thead tr {
                    background-color: #009879;
                    color: #ffffff;
                    text-align: left;
                }

                .styled-table th,
                .styled-table td {
                    padding: 12px 15px
                }

                .styled-table tbody tr {
                    border-bottom: 1px solid #dddddd;
                }
                .styled-table tbody tr:nth-of-type(even) {
                        background-color: #f3f3f3;
                }

                    .styled-table tbody tr:last-of-type {
                        border-bottom: 2px solid #009879;
                    }

                    .styled-table tbody tr.active-row {
                        font-weight: bold;
                        color: #009879;
                    }
            .box-root {
                box-sizing: border-box;
            }

        </style>
    </head>
    <body>
        <div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                @Html.ActionLink("Add Family Expense", "AddFamilyExpense")
            </div>
            <table class="styled-table">
                <tr>
                    <th></th>
                    <th>Expense Id</th>
                    <th>FamilyMemberId</th>
                    <th>Purpose</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                @foreach (var familyExpense in Model)
                {
                    <tr>
                        <td>@Html.ActionLink("Delete", "DeleteFamilyExpense", new { id = familyExpense.ExpenseId })</td>
                        <td>@familyExpense.ExpenseId</td>
                        <td>@familyExpense.FamilyMemberId</td>
                        <td>@familyExpense.Purpose</td>
                        <td>@familyExpense.Amount</td>
                        <td>@familyExpense.DateTime</td>
                        <td>@Html.ActionLink("Edit", "EditFamilyExpense", new { id = familyExpense.ExpenseId })</td>
                    </tr>
                }
            </table>
        </div>
        </body>
    </html>
