@using FamilyExpenseTracker.MVC1.Models
@model List<FamilyMember>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            padding: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0;
        }

        table {
            width: 100%;
            border: 1px solid black;
            text-align: center;
        }

        th {
            width: 100%;
            background: #000;
            padding: 0;
            color: white;
            height: 20px;
            border: 1px solid white;
        }

        tr {
            display: flex;
            width: 100%;
            padding: 0;
            border: 1px solid black;
        }

        td {
            flex: 1 1 20%;
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <div> 
        @Html.ActionLink("Add Family Member", "AddFamilyMember")
        <table>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Cell</th>
                <th>Work</th>
                <th>Income</th>
                <th></th>
            </tr>
            @foreach(var familyMember in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Delete", "DeleteFamilyMember",new { id=familyMember.FamilyMemberId})</td>
                    <td>@familyMember.FamilyMemberId</td>
                    <td>@familyMember.Name</td>
                    <td>@familyMember.Cell</td>
                    <td>@familyMember.Work</td>
                    <td>@familyMember.Income</td>
                    <td>@Html.ActionLink("Edit", "EditFamilyMember",new { id=familyMember.FamilyMemberId})</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
